#passwordStrengthIndicator {
    display: none;
}

.active #passwordStrengthIndicator, #passwordStrengthIndicator div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#passwordStrengthIndicator div {
    width: 50%;
}

#passwordStrengthIndicator div span {
    width: calc(100% / 3);
    height: 5px;
    background-color: rgb(163, 170, 170);
    margin-top: 5px;
}

#passwordStrengthIndicator div span:first-child {
    border-radius: 10px 0px 0px 10px;
}

#passwordStrengthIndicator div span:last-child {
    border-radius: 0px 10px 10px 0px;
}

#passwordStrengthIndicator #textPasswordStrength {
    justify-self: end;
    font-size: 1.05rem;
}