<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Page not found</title>

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/5990078b0a.js" crossorigin="anonymous"></script>

    <!-- CSS -->    
    <link rel="stylesheet" href="/css/404.css">

</head>
<body>
    <div class="container">
        <header>
            <h1>404</h1>
            <h3>Page not found</h3>
        </header>
        <img src="/images/404.svg" alt="404 image">
        <footer>
            <p>Trang mà bạn yêu cầu không tồn tại. Làm ơn trở về trang chủ!</p>
            <a href="/">Trang chủ</a>
        </footer>
    </div>
    
</body>
</html>
