.navbar-nav li a {
    font-weight: 500;
}

.sidenavbar {
    box-shadow: 6px 4px 32px -15px rgba(0,0,0,0.75);
}

/* Hamburger menu animation*/
.navbar-toggler {
    position: relative;
    height: 36px;
    width: 36px;
    padding: 0;
    border: none;
} 
.navbar-toggler span {
    background-color: #fff;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.navbar-toggler span:nth-child(1) {
    transform: translate(-50%, calc(-50% - 10px));
}

.navbar-toggler span:nth-child(3) {
    transform: translate(-50%, calc(-50% + 10px));
}

.navbar-toggler.active span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.navbar-toggler.active span:nth-child(2) {
    display: none;
}

.navbar-toggler.active span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(45deg);
}