<footer class="dynamic-container" >
    <div class="container-fluid bg-secondary text-light ps-5">
      <a href="#" class="text-white">Trở về đầu trang</a>
    </div>
    <div class="container-fluid bg-dark px-5 pt-4 text-light" data-bs-theme="dark">
      <div class="row gx-5 justify-content-center py-3">
        <!-- First section -->
        <div class="col-md-2 d-flex flex-column ">
          <p class="text-light py-2  bg-opacity-10 border-top border-bottom   border-white" >Các trang khác</p>
          <p class="text-light">Cổng thông tin Quốc gia</p>
          <p class="text-light">Dịch vụ công Quốc gia</p>
        </div>
        <!-- Second section  -->
        <div class="col-md-4 d-flex flex-column ">
            <p class="text-dark py-2 px-0  bg-opacity-10 border-top border-bottom   border-white" >Các trang khác</p>
          <div class="row ps-0">
            <div class="col-md-6">
              <p class="text-light">Cổng thông tin Quốc Hội</p>
              <p class="text-light">Thư viện Quốc Gia</p>
            </div>
            <div class="col-md-6">
              <p class="text-light">Truyền hình Quốc Hội</p>
              <p class="text-light">Tổng cục Dự trữ Nhà nước</p>
            </div>
          </div>
        </div>
        <div class="col-md-2 d-flex flex-column ">
          <p class="text-dark py-2  bg-opacity-10 border-top border-bottom   border-white" >Các trang khác</p>
          <p class="text-light">Cổng thông tin Quốc gia</p>
          <p class="text-light">Dịch vụ công Quốc gia</p>
        </div>
        <!-- Certification -->
        <div class="col-md-4 text-md-end">
          <img src="/image/cerf.png" alt="" class="img-fluid" >
        </div>
    </div>
    <div class="row text-center"><p>
      Bản quyền thuộc về nhóm @14 - PTUDW
    </p></div>
  </footer>