<!-- Header -->
<header>
    <nav class="navbar bg-body-tertiary fixed-top" data-bs-theme="dark">
        <div class="container-fluid px-sm-3 px-md-5 px-2 justify-content-between">
            <!-- Toggle button -->
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"  data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation" id="menu-btn" >
            <span></span>
            <span></span>
            <span></span>
          </button>

          <!-- Brand -->
          <div class="navbar-brand d-flex flex-row align-items-center m-0" >
            <img src="/images/logo.png" alt="Logo" width="40" height="35" class="d-inline-block align-text-top" >
            <div class="align-self-center ms-md-3 d-none d-sm-block fs-5" >Sở Văn hóa và Thể thao TP.Hồ Chí Minh</div>
          </div>
          <div class="text-center">

            <button type="button" class="btn p-0 m-0" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="/images/user.png" alt="Logo" width="45" height="40" class="d-inline-block align-text-top " style="vertical-align:middle;">
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a href="./cap-nhat-tt.html" class="dropdown-item" >Chỉnh sửa thông tin</a></li>
              <li><a href="./cap-nhat-mk.html" class="dropdown-item" >Đổi mật khẩu</a></li>
              <li><a href="/" class="dropdown-item" >Đăng xuất</a></li>
            </ul>
          </div>
        </div>
    </nav>
</header>