<nav class="sidenavbar navbar-expand d-flex flex-column align-item-start" id="sidebar">
  <ul class="navbar-nav d-flex flex-column w-100 ">

    <li class="nav-item w-100 d-flex flex-row align-items-center my-1 ">
      <img src="/images/Folder.png" alt="" class="img-fluid mx-2 ">
      <a href="/department/accountManagement" class="nav-link sidenav-link">Quản lý tài khoản</a>
    </li>
    <li class="nav-item w-100 d-flex flex-row align-items-center my-1">
      <img src="/images/signboard.png" alt="" class="img-fluid mx-2">
      <a href="./adplaceManagement" class="nav-link sidenav-link "> Danh sách điểm đặt quảng cáo</a>
    </li>
    <li class="nav-item w-100 d-flex flex-row align-items-center my-1">
      <img src="/images/report.png" alt="" class="img-fluid mx-2">
      <a href="./boardManagement" class="nav-link sidenav-link ">Danh sách bảng quảng cáo</a>
    </li>
    <li class="nav-item w-100 d-flex flex-row align-items-center my-1">
      <img src="/images/acceptReports.png" alt="" class="img-fluid mx-2">
      <a href="/department/viewAdsRequest" class="nav-link sidenav-link ">Xét duyệt yêu cầu đặt quảng cáo</a>
    </li>
    <li class="nav-item w-100 d-flex flex-row align-items-center my-1">
      <img src="/images/report.png" alt="" class="img-fluid mx-2">
      <a href="/department/viewReport" class="nav-link sidenav-link ">Thống kê báo cáo</a>
    </li>
    <li class="nav-item w-100 d-flex flex-row align-items-center my-1">
      <img src="/images/edit.png" alt="" class="img-fluid mx-2">
      <a href="/department/acceptOrDenyEditRequest" class="nav-link sidenav-link "> Xét duyệt yêu cầu chỉnh sửa</a>
    </li>
    
  </ul>
</nav>